/* ==========================================================================
   SASS Functions
   ========================================================================== */
/* ==========================================================================
   Common
   ========================================================================== */
/* line 47, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tbl {
  display: table;
  width: 100%;
  height: inherit;
}
/* line 53, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tbl .s_cl {
  width: 100%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* line 63, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
hr {
  border-top: 1px solid #ccc;
}

/* line 69, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_indent_20 {
  text-indent: 20px;
}

/* ==========================================================================
   Pop up
   ========================================================================== */
/*.pop_up_super_c {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	overflow: auto;
}*/
/* line 86, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tbl {
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1999999;
  overflow-y: hidden;
  vertical-align: middle;
}

/* line 94, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_cell {
  display: table-cell;
  vertical-align: middle;
}

/* ==========================================================================
   Icons
   ========================================================================== */
/* line 103, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.clock_32 {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../img/clock_32.svg") no-repeat;
  background-size: 32px 32px;
  position: absolute;
  margin-top: -33px;
  margin-left: 1px;
}

/* line 114, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.house_32 {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../img/house_32.svg") no-repeat;
  background-size: 32px 32px;
  position: absolute;
  margin-top: -33px;
  margin-left: 1px;
}

/* ==========================================================================
   Style
   ========================================================================== */
/* line 129, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
html, body {
  font-family: "Helvetica Neue", 'hnreg', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #3f3f3f;
}

/* line 137, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
a {
  text-decoration: none !important;
}

/* line 141, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  display: block;
  -moz-box-shadow: 0px 0px 5px 1px #efefef;
  -webkit-box-shadow: 0px 0px 5px 1px #efefef;
  box-shadow: 0px 0px 5px 1px #efefef;
}

/* line 148, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.header_logo {
  background: url("../img/header_logo.svg") no-repeat;
  background-size: 200px 24px;
  width: 200px;
  height: 24px;
  display: block;
  line-height: 90px;
}

/* line 156, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav {
  text-align: center;
}
/* line 158, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav * {
  font-family: hnbold;
  list-style-type: none;
  font-size: 16px;
}
/* line 164, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li {
  display: inline-block;
}
/* line 167, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li a {
  color: #3f3f3f;
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}
/* line 177, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li:hover {
  display: inline-block;
}
/* line 180, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li:hover a {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}
/* line 191, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav .s_a_active {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}

/* line 203, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log {
  text-align: right;
}
/* line 205, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log * {
  font-family: hnbold;
  list-style-type: none;
}
/* line 210, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li {
  display: inline-block;
}
/* line 213, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li a {
  color: #3f3f3f;
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}
/* line 223, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li:hover {
  display: inline-block;
}
/* line 226, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li:hover a {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}
/* line 237, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log .s_a_active {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}

/* line 252, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_big_scenery {
  width: 100%;
  height: 572px;
  display: block;
  position: absolute;
  background: url("../img/scenery.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 263, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_logo_only_white {
  width: 100px;
  height: 100px;
  display: block;
  background: url("../img/logo_only_white.svg") no-repeat;
  background-size: 100px 100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 273, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tagline {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: oslite;
  font-size: 36px;
  line-height: 40px;
}

/* line 282, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search {
  width: 100%;
  height: auto;
  display: block;
  -moz-box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  background: #fff;
  overflow: hidden;
}
/* line 289, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu {
  padding: 0px;
  overflow: hidden;
  margin-bottom: 0px;
}
/* line 294, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu .s_quick_active {
  border: 1px solid #23d0e7  !important;
}
/* line 295, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu .s_quick_active * {
  color: #fff;
  background-color: #23d0e7;
}
/* line 303, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu * {
  text-transform: uppercase;
  list-style-type: none;
  font-family: hnreg;
}
/* line 308, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li {
  display: block;
  float: left;
  font-size: 16px;
}
/* line 314, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li:first-child {
  border-left: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
}
/* line 321, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li:nth-child(2) {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 34%;
}
/* line 329, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li:nth-child(3) {
  border-right: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
}
/* line 337, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li a {
  color: #3f3f3f;
  height: 73px;
  line-height: 73px;
  text-align: center;
  width: 100%;
  display: block;
}
/* line 348, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form {
  border: 1px solid #23d0e7;
}
/* line 351, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 {
  padding-bottom: 14px;
  position: relative;
  float: left;
}
/* line 355, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3:first-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
  display: block;
}
/* line 360, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3:nth-child(2) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 34%;
  display: block;
}
/* line 365, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3:nth-child(3) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
  display: block;
}
/* line 371, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title {
  width: 100%;
  overflow: hidden;
}
/* line 375, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title .s_number {
  font-family: hnbold;
  font-size: 36px;
  margin-left: 29px;
  height: 43px;
  float: left;
}
/* line 382, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title .s_caption {
  height: 43px;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
}
/* line 389, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title .s_caption:before {
  content: "";
  width: 21px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #23d0e7;
  margin-top: 28px;
}
/* line 400, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_seprtr {
  width: 1px;
  height: 200px;
  display: block;
  background-color: #dcdcdc;
  position: absolute;
  top: 23px;
}
/* line 407, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_seprtr.s_left {
  left: 0px;
}
/* line 411, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_seprtr.s_right {
  right: 0px;
}
/* line 416, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 {
  padding-bottom: 14px;
  position: relative;
  float: left;
}
/* line 420, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2:first-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 50%;
  display: block;
}
/* line 425, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2:nth-child(2) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 50%;
  display: block;
}
/* line 431, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title {
  width: 100%;
  overflow: hidden;
}
/* line 435, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title .s_number {
  font-family: hnbold;
  font-size: 36px;
  margin-left: 29px;
  height: 43px;
  float: left;
}
/* line 442, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title .s_caption {
  height: 43px;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
}
/* line 449, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title .s_caption:before {
  content: "";
  width: 21px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #23d0e7;
  margin-top: 28px;
}
/* line 460, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_seprtr {
  width: 1px;
  height: 200px;
  display: block;
  background-color: #dcdcdc;
  position: absolute;
  top: 23px;
}
/* line 467, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_seprtr.s_left {
  left: 0px;
}
/* line 471, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_seprtr.s_right {
  right: 0px;
}

/* line 480, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_city_dest_input {
  text-indent: 20px;
}

/* line 483, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_flight_time_input {
  text-indent: 20px;
}

/* ==========================================================================
   Search Flight Hotel
   ========================================================================== */
/* line 492, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_flight_sched_row {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 499, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_hotel_pic, .s_maskapai_pic {
  margin-right: 15px;
}

/* line 503, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_hotel_name {
  font-size: 18px;
  font-family: hnbold;
  display: block;
}

/* line 508, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_hotel_city {
  font-size: 12px;
  font-family: hnreg;
}

/* line 512, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_rating {
  display: block;
}

/* line 516, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_maskapai_name, .s_flight_hour {
  font-size: 14px;
  font-family: hnbold;
  line-height: 32px;
  display: inline-block;
}

/* line 523, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.nopad {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
