/* ==========================================================================
   SASS Functions
   ========================================================================== */
/* ==========================================================================
   Common
   ========================================================================== */
/* line 47, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tbl {
  display: table;
  width: 100%;
  height: inherit;
}
/* line 53, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tbl .s_cl {
  width: 100%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* line 63, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
hr {
  border-top: 1px solid #ccc;
}

/* line 69, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_indent_20 {
  text-indent: 20px;
}

/* line 72, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_mt_30 {
  margin-top: 30px;
}

/* line 75, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_mt_20 {
  margin-top: 20px;
}

/* line 78, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_mb_30 {
  margin-bottom: 30px;
}

/* ==========================================================================
   Pop up
   ========================================================================== */
/*.pop_up_super_c {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	overflow: auto;
}*/
/* line 95, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tbl {
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1999999;
  overflow-y: hidden;
  vertical-align: middle;
}

/* line 103, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_cell {
  display: table-cell;
  vertical-align: middle;
}

/* ==========================================================================
   Icons
   ========================================================================== */
/* line 112, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.clock_32 {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../img/clock_32.svg") no-repeat;
  background-size: 32px 32px;
  position: absolute;
  margin-top: -33px;
  margin-left: 1px;
}

/* line 123, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.house_32 {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../img/house_32.svg") no-repeat;
  background-size: 32px 32px;
  position: absolute;
  margin-top: -33px;
  margin-left: 1px;
}

/* ==========================================================================
   Style
   ========================================================================== */
/* line 138, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
html, body {
  font-family: "Helvetica Neue", 'hnreg', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #3f3f3f;
}

/* line 146, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
a {
  text-decoration: none !important;
}

/* line 150, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
header {
  width: 100%;
  height: 90px;
  background-color: #fff;
  display: block;
  -moz-box-shadow: 0px 0px 5px 1px #efefef;
  -webkit-box-shadow: 0px 0px 5px 1px #efefef;
  box-shadow: 0px 0px 5px 1px #efefef;
}

/* line 157, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.header_logo {
  background: url("../img/header_logo.svg") no-repeat;
  background-size: 200px 24px;
  width: 200px;
  height: 24px;
  display: block;
  line-height: 90px;
}

/* line 165, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav {
  text-align: center;
}
/* line 167, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav * {
  font-family: hnbold;
  list-style-type: none;
  font-size: 16px;
}
/* line 173, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li {
  display: inline-block;
}
/* line 176, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li a {
  color: #3f3f3f;
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}
/* line 186, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li:hover {
  display: inline-block;
}
/* line 189, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav li:hover a {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}
/* line 200, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav .s_a_active {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}

/* line 212, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log {
  text-align: right;
}
/* line 214, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log * {
  font-family: hnbold;
  list-style-type: none;
}
/* line 219, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li {
  display: inline-block;
}
/* line 222, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li a {
  color: #3f3f3f;
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
}
/* line 232, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li:hover {
  display: inline-block;
}
/* line 235, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log li:hover a {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}
/* line 246, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_nav_log .s_a_active {
  line-height: 90px;
  height: 90px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  border-bottom: 6px #c8e052 solid;
}

/* line 261, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_big_scenery {
  width: 100%;
  height: 572px;
  display: block;
  position: absolute;
  background: url("../img/scenery.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 272, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_logo_only_white {
  width: 100px;
  height: 100px;
  display: block;
  background: url("../img/logo_only_white.svg") no-repeat;
  background-size: 100px 100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 282, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_tagline {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: oslite;
  font-size: 36px;
  line-height: 40px;
}

/* line 291, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search {
  width: 100%;
  height: auto;
  display: block;
  -moz-box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  background: #fff;
  overflow: hidden;
}
/* line 298, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu {
  padding: 0px;
  overflow: hidden;
  margin-bottom: 0px;
}
/* line 303, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu .s_quick_active {
  border: 1px solid #23d0e7  !important;
}
/* line 304, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu .s_quick_active * {
  color: #fff;
  background-color: #23d0e7;
}
/* line 312, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu * {
  text-transform: uppercase;
  list-style-type: none;
  font-family: hnreg;
}
/* line 317, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li {
  display: block;
  float: left;
  font-size: 16px;
}
/* line 323, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li:first-child {
  border-left: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
}
/* line 330, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li:nth-child(2) {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 34%;
}
/* line 338, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li:nth-child(3) {
  border-right: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
}
/* line 346, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_menu li a {
  color: #3f3f3f;
  height: 73px;
  line-height: 73px;
  text-align: center;
  width: 100%;
  display: block;
}
/* line 357, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form {
  border: 1px solid #23d0e7;
}
/* line 360, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 {
  padding-bottom: 14px;
  position: relative;
  float: left;
}
/* line 364, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3:first-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
  display: block;
}
/* line 369, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3:nth-child(2) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 34%;
  display: block;
}
/* line 374, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3:nth-child(3) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 33%;
  display: block;
}
/* line 380, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title {
  width: 100%;
  overflow: hidden;
}
/* line 384, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title .s_number {
  font-family: hnbold;
  font-size: 36px;
  margin-left: 29px;
  height: 43px;
  float: left;
}
/* line 391, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title .s_caption {
  height: 43px;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
}
/* line 398, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_title .s_caption:before {
  content: "";
  width: 21px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #23d0e7;
  margin-top: 28px;
}
/* line 409, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_seprtr {
  width: 1px;
  height: 200px;
  display: block;
  background-color: #dcdcdc;
  position: absolute;
  top: 23px;
}
/* line 416, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_seprtr.s_left {
  left: 0px;
}
/* line 420, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-3 .s_seprtr.s_right {
  right: 0px;
}
/* line 425, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 {
  padding-bottom: 14px;
  position: relative;
  float: left;
}
/* line 429, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2:first-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 50%;
  display: block;
}
/* line 434, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2:nth-child(2) {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*Firefox 1-3*/
  -webkit-box-sizing: border-box;
  /* Safari */
  width: 50%;
  display: block;
}
/* line 440, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title {
  width: 100%;
  overflow: hidden;
}
/* line 444, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title .s_number {
  font-family: hnbold;
  font-size: 36px;
  margin-left: 29px;
  height: 43px;
  float: left;
}
/* line 451, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title .s_caption {
  height: 43px;
  float: left;
  margin-left: 8px;
  margin-top: 8px;
  font-size: 16px;
}
/* line 458, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_title .s_caption:before {
  content: "";
  width: 21px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #23d0e7;
  margin-top: 28px;
}
/* line 469, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_seprtr {
  width: 1px;
  height: 200px;
  display: block;
  background-color: #dcdcdc;
  position: absolute;
  top: 23px;
}
/* line 476, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_seprtr.s_left {
  left: 0px;
}
/* line 480, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_quick_search .s_quick_search_form .s_cell_1-2 .s_seprtr.s_right {
  right: 0px;
}

/* line 489, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_city_dest_input {
  text-indent: 20px;
}

/* line 492, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_flight_time_input {
  text-indent: 20px;
}

/* ==========================================================================
   Search Flight Hotel
   ========================================================================== */
/* line 501, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_flight_sched_row {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 508, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_hotel_pic, .s_maskapai_pic {
  margin-right: 15px;
}

/* line 512, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_hotel_name {
  font-size: 18px;
  font-family: hnbold;
  display: block;
}

/* line 517, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_hotel_city {
  font-size: 12px;
  font-family: hnreg;
}

/* line 521, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_rating {
  display: block;
}

/* line 525, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.s_maskapai_name, .s_flight_hour {
  font-size: 14px;
  font-family: hnbold;
  line-height: 32px;
  display: inline-block;
}

/* line 532, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.nopad {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 538, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.f_search_result_node {
  background-color: #fff;
  -moz-box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  box-shadow: 0px 0px 5px 1px rgba(53, 53, 53, 0.25);
  overflow: hidden;
}
/* line 543, E:/xampp/htdocs/wandercase/public/assets/css/brauch_style.scss */
.f_search_result_node .f_search_title {
  background-color: #363531;
  height: 42px;
  width: 100%;
  line-height: 42px;
  font-family: hnbold;
  color: #fff;
  text-align: center;
  display: block;
}
