/* ==========================================================================
   SASS Functions
   ========================================================================== */

   @mixin dimension($val, $vil){
   	width: $val;
   	height: $vil; 
   }

   @mixin font-family($val){

   }

   @mixin box-sizing($val){
   	box-sizing: $val;  
    -moz-box-sizing: $val; /*Firefox 1-3*/  
    -webkit-box-sizing: $val; /* Safari */  
}

@function substraction($some-number, $another-number){
	@return $some-number + $another-number
}

@mixin transition ($val){
	-webkit-transition: all ease-in-out $val;
	-moz-transition: all ease-in-out $val;
	-o-transition: all ease-in-out $val;
	transition: all ease-in-out $val;
}

@mixin border-radius($val){
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	-o-border-radius: $val;
	border-radius: $val;
}
@mixin box-shadow($hor, $vert, $blur, $spread, $col){
	-moz-box-shadow:    $hor $vert $blur $spread $col;
 	-webkit-box-shadow: $hor $vert $blur $spread $col;
  	box-shadow:         $hor $vert $blur $spread $col;
}

/* ==========================================================================
   Common
   ========================================================================== */

   .s_tbl{

   	display: table;
   	width: 100%;
   	height: inherit;

   	.s_cl{

   		@include dimension(100%, inherit);
   		display: table-cell;
   		vertical-align: middle;
   		text-align: center;
   		position: relative;
   	}
   }

   hr {
   	border-top: 1px solid #ccc;
   }

   $fontcol: #3f3f3f;

   .s_indent_20 {
		text-indent: 20px;
   }

/* ==========================================================================
   Pop up
   ========================================================================== */
/*.pop_up_super_c {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	overflow: auto;
}*/
.s_tbl {
	width: 100%;
	height: 100%;
	display: table;
	z-index: 1999999;
	overflow-y: hidden;
	vertical-align: middle;
}
.s_cell {
	display: table-cell;
	vertical-align: middle;
}

/* ==========================================================================
   Icons
   ========================================================================== */

   .clock_32 {
   		@include dimension(32px, 32px);
   		display: block;
   		background: url('../img/clock_32.svg') no-repeat;
   		background-size: 32px 32px;

		position: absolute;
		margin-top: -33px;
		margin-left: 1px;
   }

   .house_32 {
   		@include dimension(32px, 32px);
   		display: block;
   		background: url('../img/house_32.svg') no-repeat;
   		background-size: 32px 32px;

		position: absolute;
		margin-top: -33px;
		margin-left: 1px;
   }

/* ==========================================================================
   Style
   ========================================================================== */

   html, body {
   	font-family: "Helvetica Neue", 'hnreg', sans-serif;
   	-webkit-text-size-adjust: 100%;
   	-ms-text-size-adjust: 100%;

   	color: $fontcol;
   }

   a {
   	text-decoration: none !important;
   }

   header {
   	@include dimension(100%, 90px);
   	background-color: #fff;
   	display: block;
	@include box-shadow(0px, 0px, 5px, 1px, rgba(239,239,239,1));
   }

   .header_logo {
   	background: url('../img/header_logo.svg') no-repeat;
   	background-size: 200px 24px;
   	@include dimension(200px, 24px);
   	display: block;
   	line-height: 90px;
   }

   .s_nav {
   	text-align: center;
	   	*{
	   		font-family: hnbold;
	   		list-style-type: none;
	   		font-size: 16px;
	   	}

	   	li {
	   		display: inline-block;

	   		a{
	   			color: $fontcol;
	   			line-height: 90px;
	   			height: 90px;
	   			display: block;
	   			padding-left: 28px;
	   			padding-right: 28px;
	   			@include box-sizing(border-box);
	   		} 
	   	}
	   	li:hover {
	   		display: inline-block;

	   		a{
	   			line-height: 90px;
	   			height: 90px;
	   			display: block;
	   			padding-left: 28px;
	   			padding-right: 28px;
	   			@include box-sizing(border-box);
	   			border-bottom: 6px #c8e052 solid;
	   		} 
	   	}

	   	.s_a_active {
	   		line-height: 90px;
	   		height: 90px;
	   		display: block;
	   		padding-left: 28px;
	   		padding-right: 28px;
	   		@include box-sizing(border-box);
	   		border-bottom: 6px #c8e052 solid;
	   	}

   }

.s_nav_log {
   	text-align: right;
	   	*{
	   		font-family: hnbold;
	   		list-style-type: none;
	   	}

	   	li {
	   		display: inline-block;

	   		a{
	   			color: $fontcol;
	   			line-height: 90px;
	   			height: 90px;
	   			display: block;
	   			padding-left: 5px;
	   			padding-right: 5px;
	   			@include box-sizing(border-box);
	   		} 
	   	}
	   	li:hover {
	   		display: inline-block;

	   		a{
	   			line-height: 90px;
	   			height: 90px;
	   			display: block;
	   			padding-left: 5px;
	   			padding-right: 5px;
	   			@include box-sizing(border-box);
	   			border-bottom: 6px #c8e052 solid;
	   		} 
	   	}

	   	.s_a_active {
	   		line-height: 90px;
	   		height: 90px;
	   		display: block;
	   		padding-left: 5px;
	   		padding-right: 5px;
	   		@include box-sizing(border-box);
	   		border-bottom: 6px #c8e052 solid;
	   	}

   }




.s_big_scenery {
	@include dimension(100%, 572px);
	display: block;
	position: absolute;
	background: url('../img/scenery.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.s_logo_only_white {
	@include dimension(100px, 100px);
	display: block;
	background: url('../img/logo_only_white.svg') no-repeat;
	background-size: 100px 100px;
	margin-left: auto;
	margin-right: auto;

}

.s_tagline {
	width: 100%;
	text-align: center;
	color: #fff;
	font-family: oslite;
	font-size: 36px;
	line-height: 40px;
}

.s_quick_search {
	@include dimension(100%, auto);
	display: block;
	@include box-shadow(0px, 0px, 5px, 1px, rgba(53,53,53,0.25));
	background: #fff;
	overflow: hidden;

	.s_quick_search_menu { 
		padding: 0px;
		overflow: hidden;
		margin-bottom: 0px;

		.s_quick_active {
			*{
				color: #fff;
				background-color: #23d0e7;
			}
			border: 1px solid #23d0e7  !important;
			
		}

		*{
			text-transform: uppercase;
			list-style-type: none;
			font-family: hnreg;
		}
		li {
			display: block;
			float: left;
			font-size: 16px;//18px;


			&:first-child {
				border-left: 1px solid #dcdcdc;
				border-top: 1px solid #dcdcdc;
				border-bottom: 1px solid #dcdcdc;
				@include box-sizing(border-box);
				width: 33%;
			}
			&:nth-child(2) {
				border-left: 1px solid #dcdcdc;
				border-right: 1px solid #dcdcdc; 
				border-top: 1px solid #dcdcdc;
				border-bottom: 1px solid #dcdcdc;
				@include box-sizing(border-box);
				width: 34%;
			}
			&:nth-child(3) {
				border-right: 1px solid #dcdcdc;
				border-top: 1px solid #dcdcdc;
				border-bottom: 1px solid #dcdcdc;
				@include box-sizing(border-box);
				width: 33%;
			}

			a{
				color: $fontcol;
				height: 73px;
				line-height: 73px;
				text-align: center;
				width: 100%;
				display: block;
			}
		}
	}

	.s_quick_search_form {
		border: 1px solid #23d0e7;

		.s_cell_1-3{
			padding-bottom: 14px;
			position: relative;
			float: left;
			&:first-child {
				@include box-sizing(border-box);
				width: 33%;
				display: block;
			}
			&:nth-child(2) {
				@include box-sizing(border-box);
				width: 34%;
				display: block;
			}
			&:nth-child(3) {
				@include box-sizing(border-box);
				width: 33%;
				display: block;
			}
 
			.s_title {
				width: 100%;
				overflow: hidden;

				.s_number {
					font-family: hnbold;
					font-size: 36px;
					margin-left: 29px;
					height: 43px;
					float: left;
				}
				.s_caption {
					height: 43px;
					float: left;
					margin-left: 8px;
					margin-top: 8px;
					font-size: 16px;

					&:before {
						content: "";
						@include dimension(21px, 3px);
						display: block;
						position: absolute;
						background-color: #23d0e7;
						margin-top: 28px;
					}
				}
			}

			.s_seprtr {
				@include dimension(1px, 200px);
				display: block;
				background-color: #dcdcdc;
				position: absolute;
				top: 23px;

				&.s_left {
					left: 0px;
				}

				&.s_right {
					right: 0px;
				}
			}
		}
		.s_cell_1-2{
			padding-bottom: 14px;
			position: relative;
			float: left;
			&:first-child {
				@include box-sizing(border-box);
				width: 50%;
				display: block;
			}
			&:nth-child(2) {
				@include box-sizing(border-box);
				width: 50%;
				display: block;
			}
 
			.s_title {
				width: 100%;
				overflow: hidden;

				.s_number {
					font-family: hnbold;
					font-size: 36px;
					margin-left: 29px;
					height: 43px;
					float: left;
				}
				.s_caption {
					height: 43px;
					float: left;
					margin-left: 8px;
					margin-top: 8px;
					font-size: 16px;

					&:before {
						content: "";
						@include dimension(21px, 3px);
						display: block;
						position: absolute;
						background-color: #23d0e7;
						margin-top: 28px;
					}
				}
			}

			.s_seprtr {
				@include dimension(1px, 200px);
				display: block;
				background-color: #dcdcdc;
				position: absolute;
				top: 23px;

				&.s_left {
					left: 0px;
				}

				&.s_right {
					right: 0px;
				}
			}
		}
	}

}

.s_city_dest_input {
	text-indent: 20px;
}
.s_flight_time_input {
	text-indent: 20px;
}


/* ==========================================================================
   Search Flight Hotel
   ========================================================================== */

 .s_flight_sched_row {
 	width: 100%;
 	height: auto;
 	overflow: hidden;
 	margin-bottom: 10px;
 }

.s_hotel_pic, .s_maskapai_pic {
	margin-right: 15px;
}

 .s_hotel_name {
 	font-size: 18px;
 	font-family: hnbold;
 	display: block;
 }
 .s_hotel_city {
 	font-size: 12px;
 	font-family: hnreg;
 }
 .s_rating {
 	display: block;
 }

 .s_maskapai_name, .s_flight_hour {
 	font-size: 14px;
 	font-family: hnbold;
 	line-height: 32px;
 	display: inline-block;
 }

 .nopad {
 	padding-top: 0px !important; 
 	padding-right: 0px !important; 
 	padding-left: 0px !important; 
 }

 .f_search_result_node {
 	background-color: #fff;
	@include box-shadow(0px, 0px, 5px, 1px, rgba(53,53,53,0.25));

 	.f_search_title {
 		background-color: #363531;
 		height: 42px;
 		width: 100%;
 		line-height: 42px;
 		font-family: hnbold;
 		color: #fff;
 		text-align: center;
 		display: block;
 	}
 }