/*
	Bulletproof Custom Font Face
*/ 

@font-face {
  font-family: 'hnlite';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype'); /* IE no comprende format()! */
}
@font-face {
  font-family: 'hnreg';
  src: url('../fonts/HelveticaNeue.otf') format('opentype'); /* IE no comprende format()! */
}
@font-face {
  font-family: 'hnmed';
  src: url('../fonts/HelveticaNeue-Medium.otf') format('opentype'); /* IE no comprende format()! */
}
@font-face {
  font-family: 'hnbold';
  src: url('../fonts/HelveticaNeue-Bold.otf') format('opentype'); /* IE no comprende format()! */
}
@font-face {
  font-family: 'oslite';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype'); /* IE no comprende format()! */
}
@font-face {
  font-family: 'osreg';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'); /* IE no comprende format()! */
}

//@font-face {
//  font-family: pn_l;
//  src: url("../fonts/ProximaNova-Light.eot");
//  /* IE9 Compat Modes */
//  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#svgFontName") format("svg");
 // /* Legacy iOS */
 // font-style: normal; }


  